/*Applies to the whole site*/
*
{
    margin-left:10PX;
    margin-right:10PX;
}
/*Body*/
.body
{
    background-color: white;
    height: auto;
    background-size: cover;

}
/*Vertical line properties*/
.vl {
    border-right: 2px solid black;     
    display: inline-block;     
    padding: 2px;    
    height:8px;
}
/*main navigation bar (the next class is for display the text on the same line)*/
.main-nav
{
    list-style: none;
    text-align: right;
    margin-top: 30px;
    font-size: 12px;
    padding: 10px;
}

.main-nav li{
 display: inline;
}

/*Header*/
header
{
    border-top: 2px solid#989898;
    border-bottom: 2px solid#989898;
}

/*Main contact info*/
.contact-info
{
    list-style: none;
    text-align: right;
    margin-top: 20px;
    font-size: 9px;
    padding: 10px;
}

.contact-info li
{
    display: inline;
}
